<h1>Login</h1>
<% if(messages.error) {%>
    <%= messages.error %>
<%}%>
<div class="profile">
    <form action="/login" method="POST">
        <div class="form-row">
            <div class="form-item">
                <label>Email</label>
                <input type="text" id="email" name="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-item">
                <label>Password</label>
                <input type="password" id="password" name="password">
            </div>
        </div>
        <div class="form-row btn-row form-row-end">
            <a class="btn btn-primary" href="/register">Register</a>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>